.title {
  font-size: 2rem;
  width: fit-content;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--hover-color);
}
.aboutMePage{
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.aboutMeParagraph {
  font-size: 1.15rem;
  line-height: 1.4;
}
h3 span {
  width: fit-content;
  padding-bottom: 0.5rem;
}
ul > li::marker {
  color: #8f44fd;
}
.mapContainer {
  width: 100%;
  height: 500px;
  border-radius: 25px;
}
.mapContainerFrame {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 25px;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  gap: 25px;
  animation: slide 12s linear infinite;
}

.carousel-item {
  box-sizing: border-box;
}
.carousel-item img {
  height: 6cap;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
